div{border: solid 3px pink;margin:5px;
  background: lightblue;}
#b1 {background:lightyellow;width:100%;}
#b2{border-color:#e8ceec;margin:2px;text-indent: 5em;}

#b3{float:left;background:lightgrey;padding:5px; width:25%;letter-spacing: 0.5em;}
#b4{float:left;background:lightgrey;padding:5px; width:20%;font-family: Helvetica,sans-serif;}
#b5{float:left;background:lightgrey;padding:5px;}

#b6 {clear:both;margin: 5px;}

